@import "modern-normalize";

/* Defaults */
:root {
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Main structure(body) */
body {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
}

/* Colors */
:root {
  --side-nav-color: #fcfaf8;
  --side-nav-accent: #dc4c3e;
  --side-nav-accent-darker: #c4372b;
}

/* Spacing */
:root {
  --spacing: 0.25rem;
}
/* Nav */
.nav {
  padding-inline: calc(var(--spacing) * 4);
  padding-top: calc(var(--spacing) * 3);
  width: min(300px, 40%);
  background-color: var(--side-nav-color);
}

.nav-toggle {
  border: none;
  display: block;
  margin-left: auto;
  background-color: transparent;
  padding: 0;
}

/* Nav-item-row and Project/Favorites-row */
.nav-item-row {
  padding-left: calc(var(--spacing) * 1);
  padding-top: calc(var(--spacing) * 4);
  display: flex;
  gap: calc(var(--spacing) * 3);
  flex-basis: 100%;
  overflow: hidden;
  cursor: pointer;
}
.nav-item-row button {
  padding: 0;
  border: 0;
  background-color: transparent;
}
.nav-item-row span {
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}
/* Specific nav-item-rows and project/favorite rows active*/
.nav-item-task-row button,
.nav-item-row.active button {
  color: var(--side-nav-accent);
}
.nav-item-task-row span,
.nav-item-row.active span {
  color: var(--side-nav-accent-darker);
  font-weight: bold;
}
/* Favorite and Project Heading */
.nav-favorite-heading,
.nav-project-heading {
  display: block;
  font-weight: bold;
  padding-top: calc(var(--spacing) * 6);
  color: #666666;
}

/* Favorite and Project row */
.nav-favorite-row button,
.nav-project-row button {
  color: attr(data-color);
}
.nav-favorite-list,
.nav-project-list {
  padding: 0;
}
/* unexpanded nav */
.nav[data-expanded="false"] {
  padding-left: calc(var(--spacing) * 7);
  width: unset;
}
.nav[data-expanded="false"] .nav-item-row,
.nav[data-expanded="false"] .nav-favorite-heading,
.nav[data-expanded="false"] .nav-project-heading {
  display: none;
}

/* Task button */
.task-button {
  background: none;
  border: none;
  padding: 0;
}

/* Main content List */
.main-content-list {
  list-style: none;
  padding: 0;
}

.task-button {
  cursor: pointer;
}
