@import "modern-normalize";

/* Defaults */
:root {
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Main structure(body) */
body {
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
}

/* Colors */
:root {
  --side-nav-color: #fcfaf8;
}

/* Spacing */
:root {
  --spacing: 0.25rem;
}
/* Nav */
.nav {
  padding-inline: calc(var(--spacing) * 4);
  padding-top: calc(var(--spacing) * 3);
  width: min(300px, 40%);
  background-color: var(--side-nav-color);
}

.nav-toggle {
  border: none;
  display: block;
  margin-left: auto;
  background-color: transparent;
  padding: 0;
}

.nav-item-row {
  padding-block: calc(var(--spacing) * 4);
  display: flex;
  gap: calc(var(--spacing) * 3);
  flex-basis: 100%;
  overflow: hidden;
}
.nav-item-row span {
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}

/* unexpanded nav */
.nav[data-expanded="false"] {
  padding-left: calc(var(--spacing) * 7);
  width: unset;
}
.nav[data-expanded="false"] .nav-item-row {
  display: none;
}
